.a1{
    background-color: rgb(248, 245, 245);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}



ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}


a {
    text-decoration: none;
    color: black;
}



main{
    text-align: center;
}


.ota{
    display: flex;
    flex-wrap:wrap ;
    gap: 60px;

}
.a12{
    display:flex;
    align-items: center;
    justify-content: space-between;
}































































































































































































































































































zzzzzzzzzzzzzzzzzzzzzzzzzzzzz
z
z
z
z

zz
zz








z
z










































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































